* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: rgb(196, 197, 197);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
}

.titulo {
  background-color: #0ed450;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(31, 32, 30);
}

.texto {
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid rgb(116, 116, 116);
}

.select {
  margin: 10px 0px;
}

.loginBox {
  width: 30%;
  height: 35%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgb(116, 116, 116);
  display: flex;
  flex-direction: column;
}

.loginBox p {
  text-align: center;
}

.registroBox {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(116, 116, 116);
  display: flex;
  flex-direction: column;
}

.btnLogin {
  width: 50%;
  height: 30px;
  margin: 5px 0px;
  align-self: center;
}

.btnRegistro {
  width: 50%;
  height: 30px;
  margin: 5px 0px;
  align-self: center;
}

.seccion {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menuSecciones {
  width: 200px;
  min-height: 100vh;
  background-color: rgb(31, 32, 30);
  box-sizing: border-box;
  padding: 10px 15px;
  white-space: nowrap;
  transition: width .2s ease-in;
  
}
.menuSecciones.inactivo {
  width: 65px;
}

.menuSecciones .top {
  position: relative;
}

.menuSecciones .top .iconoMenu {
  color: black;
  background-color: rgb(31, 32, 30);
  border: none;
  font-size: 35px;
  display: inline-block;
  cursor: pointer;
}

.menuSecciones .top .iconoIzquierda {
  color: black;
  background-color: rgb(31, 32, 30);
  border: none;
  font-size: 35px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menuSecciones.inactivo .top .iconoIzquierda {
  display: none;
}

.menuSecciones .top .iconoMenu:hover {
  color: #0ed450;
}

.menuSecciones .top .iconoIzquierda:hover {
  color: #0ed450;
}

hr.lineaTop {
  border: 1px solid black;
}



.menuSecciones .listado .itemListado {
  background-color: rgb(31, 32, 30);
  color: #0ed450;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  border-radius: 3px;
}

.menuSecciones .listado .itemListado:hover {
  background-color: #0ed450;
  color: rgb(31, 32, 30);
}

.menuSecciones .listado .itemListado.active {
  background-color: #0ed450;
  color: rgb(31, 32, 30);
}

.menuSecciones .listado .itemListado span {
  position: absolute;
  display: inline-block;
  line-height: 35px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.menuSecciones.inactivo .listado .itemListado span {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}


.menuSecciones .listado .itemListado .iconoListado {
  display: inline-block;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
}

.table thead tr th {
  font-size: 20px;
  font-weight: 300;
}

.table>thead>tr>th {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
  font-weight: 500;
}

.table>tbody>tr>td {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #ddd;
  font-size: 16px;
  color: #161a1f;
}

.menuText {
  background-color: rgb(31, 32, 30);
  color: #0ed450;
  display: block;
  text-decoration: none;
  margin: 5px 0;
  border-radius: 3px;
}

.menuText>p {
  transition: opacity .2s ease-in;
}

.menuText.inactivo{
  overflow: hidden;
  background-color: #0ed450;
}

.menuText.inactivo>p {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  margin: 5px;
}

.page-link {
  padding: 0 5px;
  text-decoration: none;
  border: 1px solid black;
  color: black;
}

.page-link:hover {
  background-color: #0ed450;
}


.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.flex-body {
  display: flex;
}

.flex-body div:not([class*="flex"]) {
  border: 1px solid white;
  flex: 1 1 200px;
  width: 300px;
}